In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('./hurricanes_east_coast-copy.csv')

/Users/quinton/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1,2,3,8,9,14,19,20,23,24,25,161,162) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.shape

(121220, 163)

In [4]:
df.head()

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,BOM_GUST_PER,REUNION_GUST,REUNION_GUST_PER,USA_SEAHGT,USA_SEARAD_NE,USA_SEARAD_SE,USA_SEARAD_SW,USA_SEARAD_NW,STORM_SPEED,STORM_DIR
0,,Year,,,,,,,degrees_north,degrees_east,...,second,kts,second,ft,nmile,nmile,nmile,nmile,kts,degrees
1,1851175N26270,1851,5,NaN,GM,NOT_NAMED,1851-06-23 12:00:00,TS,26.1000,-90.4000,...,,,,,,,,,6,291
2,1851175N26270,1851,5,NaN,GM,NOT_NAMED,1851-06-23 15:00:00,TS,26.2001,-90.6999,...,,,,,,,,,6,290
3,1851175N26270,1851,5,NaN,GM,NOT_NAMED,1851-06-23 18:00:00,TS,26.3000,-91.0000,...,,,,,,,,,6,290
4,1851175N26270,1851,5,NaN,GM,NOT_NAMED,1851-06-23 21:00:00,TS,26.3999,-91.3001,...,,,,,,,,,6,290

In [5]:
new_df = df[['SID','SEASON', 'NUMBER', 'NAME','ISO_TIME','NATURE','LAT','LON','WMO_WIND','WMO_PRES', 'WMO_AGENCY', 'DIST2LAND', 'LANDFALL', 'USA_LAT', 'USA_LON', 'USA_STATUS', 'USA_WIND', 'USA_PRES', 'USA_SSHS', 'USA_EYE', 'USA_SEAHGT', 'STORM_SPEED', 'STORM_DIR']]

In [6]:
pd.set_option("display.max_columns", None)

In [7]:
new_df.head()

,SID,SEASON,NUMBER,NAME,ISO_TIME,NATURE,LAT,LON,WMO_WIND,WMO_PRES,WMO_AGENCY,DIST2LAND,LANDFALL,USA_LAT,USA_LON,USA_STATUS,USA_WIND,USA_PRES,USA_SSHS,USA_EYE,USA_SEAHGT,STORM_SPEED,STORM_DIR
0,,Year,,,,,degrees_north,degrees_east,kts,mb,,km,km,degrees_north,degrees_east,,kts,mb,1,nmile,ft,kts,degrees
1,1851175N26270,1851,5,NOT_NAMED,1851-06-23 12:00:00,TS,26.1000,-90.4000,,,,335,323,,,,,,-1,,,6,291
2,1851175N26270,1851,5,NOT_NAMED,1851-06-23 15:00:00,TS,26.2001,-90.6999,,,,323,312,,,,,,-1,,,6,290
3,1851175N26270,1851,5,NOT_NAMED,1851-06-23 18:00:00,TS,26.3000,-91.0000,,,,312,302,,,,,,-1,,,6,290
4,1851175N26270,1851,5,NOT_NAMED,1851-06-23 21:00:00,TS,26.3999,-91.3001,,,,304,296,,,,,,-1,,,6,290

In [8]:
new_df.shape

(121220, 23)

In [9]:
new_df.isnull().sum()

SID            0
SEASON         0
NUMBER         0
NAME           0
ISO_TIME       0
NATURE         0
LAT            0
LON            0
WMO_WIND       0
WMO_PRES       0
WMO_AGENCY     0
DIST2LAND      0
LANDFALL       0
USA_LAT        0
USA_LON        0
USA_STATUS     0
USA_WIND       0
USA_PRES       0
USA_SSHS       0
USA_EYE        0
USA_SEAHGT     0
STORM_SPEED    0
STORM_DIR      0
dtype: int64

In [10]:
pd.set_option('display.max_rows', None)

In [11]:
new_df[new_df['NAME']=='SANDY']

,SID,SEASON,NUMBER,NAME,ISO_TIME,NATURE,LAT,LON,WMO_WIND,WMO_PRES,WMO_AGENCY,DIST2LAND,LANDFALL,USA_LAT,USA_LON,USA_STATUS,USA_WIND,USA_PRES,USA_SSHS,USA_EYE,USA_SEAHGT,STORM_SPEED,STORM_DIR
114288,2012296N14283,2012,78,SANDY,2012-10-21 18:00:00,DS,14.3,-77.4,25,1006,hurdat_atl,381,381,14.3,-77.4,LO,25,1006,-3,,,6,224
114289,2012296N14283,2012,78,SANDY,2012-10-21 21:00:00,DS,14.1,-77.6001,,,,405,405,14.1,-77.6001,LO,25,1005,-3,,,6,224
114290,2012296N14283,2012,78,SANDY,2012-10-22 00:00:00,DS,13.9,-77.8,25,1005,hurdat_atl,430,430,13.9,-77.8,LO,25,1005,-3,,,6,224
114291,2012296N14283,2012,78,SANDY,2012-10-22 03:00:00,DS,13.7,-78,,,,437,436,13.7,-78,LO,25,1004,-3,,,6,224
114292,2012296N14283,2012,78,SANDY,2012-10-22 06:00:00,DS,13.5,-78.2,25,1003,hurdat_atl,436,432,13.5,-78.2,LO,25,1003,-3,,,6,226
114293,2012296N14283,2012,78,SANDY,2012-10-22 09:00:00,DS,13.3,-78.4225,,,,432,406,13.3,-78.4225,LO,27,1002,-3,,,6,224
114294,2012296N14283,2012,78,SANDY,2012-10-22 12:00:00,TS,13.1,-78.6,30,1002,hurdat_atl,406,383,13.1,-78.6,TD,30,1002,-1,,,5,213
114295,2012296N14283,2012,78,SANDY,2012-10-22 15:00:00,TS,12.8775,-78.7025,,,,383,361,12.8775,-78.7025,TD,32,1001,-1,,,4,193
114296,2012296N14283,2012,78,SANDY,2012-10-22 18:00:00,TS,12.7,-78.7,35,1000,hurdat_atl,361,349,12.7,-78.7,TS,35,1000,0,,,3,157
114297,2012296N14283,2012,78,SANDY,2012-10-22 21:00:00,TS,12.5975,-78.5799,,,,351,351,12.5975,-78.5799,TS,37,999,0,,,3,109
114298,2012296N14283,2012,78,SANDY,2012-10-23 00:00:00,TS,12.6,-78.4,40,998,hurdat_atl,355,355,12.6,-78.4,TS,40,998,0,,12,3,72
114299,2012296N14283,2012,78,SANDY,2012-10-23 03:00:00,TS,12.705,-78.2425,,,,371,371,12.705,-78.2425,TS,40,998,0,,12,4,44
114300,2012296N14283,2012,78,SANDY,2012-10-23 06:00:00,TS,12.9,-78.1,40,998,hurdat_atl,382,382,12.9,-78.1,TS,40,998,0,,12,5,29
114301,2012296N14283,2012,78,SANDY,2012-10-23 09:00:00,TS,13.1275,-77.9999,,,,390,390,13.1275,-77.9999,TS,40,996,0,,,5,21
114302,2012296N14283,2012,78,SANDY,2012-10-23 12:00:00,TS,13.4,-77.9,40,995,hurdat_atl,405,405,13.4,-77.9,TS,40,995,0,,,6,23
114303,2012296N14283,2012,78,SANDY,2012-10-23 15:00:00,TS,13.685,-77.7575,,,,423,416,13.685,-77.7575,TS,42,994,0,,,7,26
114304,2012296N14283,2012,78,SANDY,2012-10-23 18:00:00,TS,14,-77.6,45,993,hurdat_atl,416,381,14,-77.6,TS,45,993,0,,12,7,26
114305,2012296N14283,2012,78,SANDY,2012-10-23 21:00:00,TS,14.3275,-77.4425,,,,381,335,14.3275,-77.4425,TS,50,991,0,,12,8,23
114306,2012296N14283,2012,78,SANDY,2012-10-24 00:00:00,TS,14.7,-77.3,55,990,hurdat_atl,335,290,14.7,-77.3,TS,55,990,0,,12,8,17
114307,2012296N14283,2012,78,SANDY,2012-10-24 03:00:00,TS,15.1275,-77.1924,,,,290,235,15.1275,-77.1924,TS,57,988,0,,12,9,12
114308,2012296N14283,2012,78,SANDY,2012-10-24 06:00:00,TS,15.6,-77.1,60,987,hurdat_atl,235,180,15.6,-77.1,TS,60,987,0,,12,10,11
114309,2012296N14283,2012,78,SANDY,2012-10-24 09:00:00,TS,16.085,-76.9999,,,,180,127,16.085,-76.9999,TS,62,984,0,,12,10,11
114310,2012296N14283,2012,78,SANDY,2012-10-24 12:00:00,TS,16.6,-76.9,65,981,hurdat_atl,127,74,16.6,-76.9,HU,65,981,1,,12,11,8
114311,2012296N14283,2012,78,SANDY,2012-10-24 15:00:00,TS,17.1304,-76.8537,,,,74,22,17.1304,-76.8537,HU,70,976,1,,12,11,10
114312,2012296N14283,2012,78,SANDY,2012-10-24 18:00:00,TS,17.7,-76.7,75,972,hurdat_atl,22,0,17.7,-76.7,HU,75,972,1,,12,12,17
114313,2012296N14283,2012,78,SANDY,2012-10-24 19:00:00,TS,17.9,-76.6,75,971,hurdat_atl,0,0,17.9,-76.6,HU,75,971,1,,12,13,19
114314,2012296N14283,2012,78,SANDY,2012-10-24 21:00:00,TS,18.2992,-76.4855,,,,11,11,18.2992,-76.4855,HU,78,968,1,,12,12,11
114315,2012296N14283,2012,78,SANDY,2012-10-25 00:00:00,TS,18.9,-76.4,85,964,hurdat_atl,76,55,18.9,-76.4,HU,85,964,2,,12,13,15
114316,2012296N14283,2012,78,SANDY,2012-10-25 03:00:00,TS,19.5339,-76.1292,,,,55,0,19.5339,-76.1292,HU,93,958,2,,12,13,19
114317,2012296N14283,2012,78,SANDY,2012-10-25 05:25:00,TS,20,-76,100,954,hurdat_atl,0,0,20,-76,HU,100,954,3,,12,12,12
114318,2012296N14283,2012,78,SANDY,2012-10-25 06:00:00,TS,20.1,-76,100,954,hurdat_atl,0,0,20.1,-76,HU,100,954,3,,12,16,17
114319,2012296N14283,2012,78,SANDY,2012-10-25 09:00:00,TS,20.9,-75.7,95,960,hurdat_atl,0,0,20.9,-75.7,HU,95,960,2,,12,17,16
114320,2012296N14283,2012,78,SANDY,2012-10-25 12:00:00,TS,21.7,-75.5,95,966,hurdat_atl,78,78,21.7,-75.5,HU,95,966,2,,12,17,12
114321,2012296N14283,2012,78,SANDY,2012-10-25 15:00:00,TS,22.5067,-75.3256,,,,170,170,22.5067,-75.3256,HU,92,964,2,,12,16,7
114322,2012296N14283,2012,78,SANDY,2012-10-25 18:00:00,TS,23.3,-75.3,90,963,hurdat_atl,252,227,23.3,-75.3,HU,90,963,2,,12,16,353
114323,2012296N14283,2012,78,SANDY,2012-10-25 21:00:00,TS,24.1026,-75.5464,,,,227,183,24.1026,-75.5464,HU,82,964,1,,12,16,340
114324,2012296N14283,2012,78,SANDY,2012-10-26 00:00:00,TS,24.8,-75.9,75,965,hurdat_atl,184,174,24.8,-75.9,HU,75,965,1,,12,13,335
114325,2012296N14283,2012,78,SANDY,2012-10-26 03:00:00,TS,25.3099,-76.158,,,,174,169,25.3099,-76.158,HU,72,966,1,,12,10,333
114326,2012296N14283,2012,78,SANDY,2012-10-26 06:00:00,TS,25.7,-76.4,70,968,hurdat_atl,174,166,25.7,-76.4,HU,70,968,1,,12,9,329
114327,2012296N14283,2012,78,SANDY,2012-10-26 09:00:00,TS,26.0725,-76.6651,,,,171,171,26.0725,-76.6651,HU,67,969,1,,12,8,327
114328,2012296N14283,2012,78,SANDY,2012-10-26 12:00:00,TS,26.4,-76.9,65,970,hurdat_atl,182,182,26.4,-76.9,HU,65,970,1,,12,8,329
114329,2012296N14283,2012,78,SANDY,2012-10-26 15:00:00,TS,26.715,-77.095,,,,200,200,26.715,-77.095,HU,65,970,1,,12,7,336
114330,2012296N14283,2012,78,SANDY,2012-10-26 18:00:00,TS,27,-77.2,65,971,hurdat_atl,226,226,27,-77.2,HU,65,971,1,,12,5,351
114331,2012296N14283,2012,78,SANDY,2012-10-26 21:00:00,TS,27.25,-77.1876,,,,247,247,27.25,-77.1876,HU,62,970,0,,12,5,10
114332,2012296N14283,2012,78,SANDY,2012-10-27 00:00:00,TS,27.5,-77.1,60,969,hurdat_atl,282,282,27.5,-77.1,TS,60,969,0,,12,6,16
114333,2012296N14283,2012,78,SANDY,2012-10-27 03:00:00,TS,27.785,-77.0224,,,,316,316,27.785,-77.0224,TS,60,968,0,,12,6,16
114334,2012296N14283,2012,78,SANDY,2012-10-27 06:00:00,TS,28.1,-76.9,60,968,hurdat_atl,338,338,28.1,-76.9,TS,60,968,0,,12,7,20
114335,2012296N14283,2012,78,SANDY,2012-10-27 09:00:00,TS,28.4273,-76.752,,,,359,359,28.4273,-76.752,TS,65,962,1,,12,8,27
114336,2012296N14283,2012,78,SANDY,2012-10-27 12:00:00,TS,28.8,-76.5,70,956,hurdat_atl,391,391,28.8,-76.5,HU,70,956,1,,12,10,36
114337,2012296N14283,2012,78,SANDY,2012-10-27 15:00:00,TS,29.2427,-76.0878,,,,435,435,29.2427,-76.0878,HU,70,958,1,,12,12,41
114338,2012296N14283,2012,78,SANDY,2012-10-27 18:00:00,TS,29.7,-75.6,70,960,hurdat_atl,493,493,29.7,-75.6,HU,70,960,1,,12,12,44
114339,2012296N14283,2012,78,SANDY,2012-10-27 21:00:00,TS,30.1074,-75.1421,,,,504,489,30.1074,-75.1421,HU,67,960,1,,12,11,44
114340,2012296N14283,2012,78,SANDY,2012-10-28 00:00:00,TS,30.5,-74.7,65,960,hurdat_atl,489,470,30.5,-74.7,HU,65,960,1,,12,11,42
114341,2012296N14283,2012,78,SANDY,2012-10-28 03:00:00,TS,30.9072,-74.2996,,,,470,449,30.9072,-74.2996,HU,65,959,1,,12,11,41
114342,2012296N14283,2012,78,SANDY,2012-10-28 06:00:00,TS,31.3,-73.9,65,959,hurdat_atl,449,438,31.3,-73.9,HU,65,959,1,,12,10,44
114343,2012296N14283,2012,78,SANDY,2012-10-28 09:00:00,TS,31.6498,-73.4644,,,,444,435,31.6498,-73.4644,HU,65,956,1,,12,10,48
114344,2012296N14283,2012,78,SANDY,2012-10-28 12:00:00,TS,32,-73,65,954,hurdat_atl,442,441,32,-73,HU,65,954,1,,12,11,48
114345,2012296N14283,2012,78,SANDY,2012-10-28 15:00:00,TS,32.3699,-72.5069,,,,448,448,32.3699,-72.5069,HU,65,953,1,,12,12,47
114346,2012296N14283,2012,78,SANDY,2012-10-28 18:00:00,TS,32.8,-72,65,952,hurdat_atl,460,459,32.8,-72,HU,65,952,1,,12,13,43
114347,2012296N14283,2012,78,SANDY,2012-10-28 21:00:00,TS,33.3052,-71.4627,,,,459,456,33.3052,-71.4627,HU,67,951,1,,12,14,37
114348,2012296N14283,2012,78,SANDY,2012-10-29 00:00:00,TS,33.9,-71,70,950,hurdat_atl,461,455,33.9,-71,HU,70,950,1,,12,14,29
114349,2012296N14283,2012,78,SANDY,2012-10-29 03:00:00,TS,34.5623,-70.6385,,,,463,454,34.5623,-70.6385,HU,75,948,1,,12,15,16
114350,2012296N14283,2012,78,SANDY,2012-10-29 06:00:00,TS,35.3,-70.5,80,947,hurdat_atl,454,449,35.3,-70.5,HU,80,947,1,,12,15,2
114351,2012296N14283,2012,78,SANDY,2012-10-29 09:00:00,TS,36.0983,-70.5494,,,,450,392,36.0983,-70.5494,HU,82,946,1,,12,17,346
114352,2012296N14283,2012,78,SANDY,2012-10-29 12:00:00,TS,36.9,-71,85,945,hurdat_atl,392,282,36.9,-71,HU,85,945,2,,12,20,323
114353,2012296N14283,2012,78,SANDY,2012-10-29 15:00:00,TS,37.6572,-72.0419,,,,278,164,37.6572,-72.0419,HU,82,942,1,,,22,309
114354,2012296N14283,2012,78,SANDY,2012-10-29 18:00:00,TS,38.3,-73.2,80,940,hurdat_atl,157,68,38.3,-73.2,HU,80,940,1,,,19,307
114355,2012296N14283,2012,78,SANDY,2012-10-29 21:00:00,ET,38.8,-74,75,943,hurdat_atl,68,8,38.8,-74,EX,75,943,-4,,,16,320
114356,2012296N14283,2012,78,SANDY,2012-10-29 23:30:00,ET,39.4,-74.4,70,945,hurdat_atl,8,0,39.4,-74.4,EX,70,945,-4,,,16,331
114357,2012296N14283,2012,78,SANDY,2012-10-30 00:00:00,ET,39.5,-74.5,70,946,hurdat_atl,0,0,39.5,-74.5,EX,70,946,-4,,12,14,302
114358,2012296N14283,2012,78,SANDY,2012-10-30 03:00:00,ET,39.8292,-75.2834,,,,0,0,39.8292,-75.2834,EX,62,953,-4,,12,14,287
114359,2012296N14283,2012,78,SANDY,2012-10-30 06:00:00,ET,39.9,-76.2,55,960,hurdat_atl,0,0,39.9,-76.2,EX,55,960,-4,,12,14,278
114360,2012296N14283,2012,78,SANDY,2012-10-30 09:00:00,ET,40.0075,-77.0458,,,,0,0,40.0075,-77.0458,EX,52,969,-4,,,12,279
114361,2012296N14283,2012,78,SANDY,2012-10-30 12:00:00,ET,40.1,-77.8,50,978,hurdat_atl,0,0,40.1,-77.8,EX,50,978,-4,,,11,283
114362,2012296N14283,2012,78,SANDY,2012-10-30 15:00:00,ET,40.2418,-78.4026,,,,0,0,40.2418,-78.4026,EX,45,982,-4,,,9,290
114363,2012296N14283,2012,78,SANDY,2012-10-30 18:00:00,ET,40.4,-78.9,40,986,hurdat_atl,0,0,40.4,-78.9,EX,40,986,-4,,,8,292
114364,2012296N14283,2012,78,SANDY,2012-10-30 21:00:00,ET,40.5424,-79.3952,,,,0,0,40.5424,-79.3952,EX,37,989,-4,,,7,294
114365,2012296N14283,2012,78,SANDY,2012-10-31 00:00:00,ET,40.7,-79.8,35,992,hurdat_atl,0,0,40.7,-79.8,EX,35,992,-4,,,6,304
114366,2012296N14283,2012,78,SANDY,2012-10-31 03:00:00,ET,40.8922,-80.0877,,,,0,0,40.8922,-80.0877,EX,35,992,-4,,,6,317
114367,2012296N14283,2012,78,SANDY,2012-10-31 06:00:00,ET,41.1,-80.3,35,993,hurdat_atl,0,0,41.1,-80.3,EX,35,993,-4,,,5,323
114368,2012296N14283,2012,78,SANDY,2012-10-31 09:00:00,ET,41.3027,-80.4997,,,,0,0,41.3027,-80.4997,EX,32,994,-4,,,5,323
114369,2012296N14283,2012,78,SANDY,2012-10-31 12:00:00,ET,41.5,-80.7,30,995,hurdat_atl,0,,41.5,-80.7,EX,30,995,-4,,,5,323

In [12]:
new_df.tail(10)

,SID,SEASON,NUMBER,NAME,ISO_TIME,NATURE,LAT,LON,WMO_WIND,WMO_PRES,WMO_AGENCY,DIST2LAND,LANDFALL,USA_LAT,USA_LON,USA_STATUS,USA_WIND,USA_PRES,USA_SSHS,USA_EYE,USA_SEAHGT,STORM_SPEED,STORM_DIR
121210,2020206N11343,2020,43,ISAIAS,2020-07-28 21:00:00,DS,13.9966,-56.9134,,,,578,489,13.6991,-57.4225,LO,37,1006,-3,,,29,279
121211,2020206N11343,2020,43,ISAIAS,2020-07-29 00:00:00,DS,14.2,-58.4,,,,483,458,14.2,-58.4,LO,40,1006,-3,,12,25,282
121212,2020206N11343,2020,43,ISAIAS,2020-07-29 03:00:00,DS,14.5306,-59.4642,,,,455,455,14.5869,-59.4279,LO,40,1006,-3,,12,21,290
121213,2020206N11343,2020,43,ISAIAS,2020-07-29 06:00:00,DS,14.9,-60.4333,,,,474,472,14.9,-60.5,LO,40,1006,-3,,12,22,289
121214,2020206N11343,2020,43,ISAIAS,2020-07-29 09:00:00,DS,15.2418,-61.6166,,,,503,431,15.1951,-61.6649,LO,40,1006,-3,,12,24,286
121215,2020206N11343,2020,43,ISAIAS,2020-07-29 12:00:00,DS,15.5333,-62.8,,,,424,325,15.4,-62.8,LO,40,1006,-3,,12,23,284
121216,2020206N11343,2020,43,ISAIAS,2020-07-29 15:00:00,DS,15.7788,-63.884,,,,318,257,15.4719,-63.803,LO,40,1005,-3,,12,20,281
121217,2020206N11343,2020,43,ISAIAS,2020-07-29 18:00:00,DS,15.9,-64.8333,,,,257,232,15.5,-64.7,LO,40,1005,-3,,12,17,272
121218,2020206N11343,2020,43,ISAIAS,2020-07-29 21:00:00,DS,15.8503,-65.6154,,,,232,232,15.5806,-65.5196,LO,42,1004,-3,,12,14,262
121219,2020206N11343,2020,43,ISAIAS,2020-07-30 00:00:00,TS,15.7,-66.3,,,,246,,15.7,-66.3,TS,45,1004,0,,12,14,257

In [13]:
new_df.rename(columns = {
    "sid" : "storm_id",
    "season" : "year",
    "lat" : "latitude",
    "lon" : "longitude",
    "wmo_wind" : "wmo_wind(knots)",
    "wmo_pres" : "wmo_pressure(mb)", # World Meteorological Organization
    "dist2land" : "dist2land(km)",
    "landfall" : "landfall(km)",
    "usa_sshs" : "storm_category",
    "usa_eye" : "eye_diameter",
    "usa_seahgt" : "sea_height(ft)",
    "storm_speed" : "storm_speed(knots)",
    "storm_dir" : "storm_direction(degrees)"
    }, inplace = True)
new_df.columns = new_df.columns.str.lower()
new_df.drop(index = 0, inplace = True)
new_df.reset_index(drop = True, inplace = True)

/Users/quinton/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/Users/quinton/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [14]:
new_df = new_df.replace(' ', np.nan)

In [15]:
new_df.isnull().sum()

sid                 0
season              0
number              0
name                0
iso_time            0
nature              0
lat                 0
lon                 0
wmo_wind        69543
wmo_pres       100280
wmo_agency      69205
dist2land           0
landfall         2249
usa_lat         19840
usa_lon         19840
usa_status      19634
usa_wind        20511
usa_pres        80591
usa_sshs          484
usa_eye        121114
usa_seahgt     115362
storm_speed        29
storm_dir          29
dtype: int64

In [16]:
new_df['landfall'] = new_df['landfall'].map(float)

In [17]:
new_df = new_df[new_df['landfall'] == 0]

In [18]:
new_df.to_csv('../data/hurricanes_east_coast.csv', index=False)
df = pd.read_csv('../data/hurricanes_east_coast.csv')

In [19]:
df.shape

(14214, 23)

In [20]:
df.head()

,sid,season,number,name,iso_time,nature,lat,lon,wmo_wind,wmo_pres,wmo_agency,dist2land,landfall,usa_lat,usa_lon,usa_status,usa_wind,usa_pres,usa_sshs,usa_eye,usa_seahgt,storm_speed,storm_dir
0,1851175N26270,1851,5,NOT_NAMED,1851-06-25 21:00:00,TS,28.1333,-96.5667,80.0,NaN,hurdat_atl,22,0.0,28.2000,-96.8000,HU,80.0,NaN,1.0,NaN,NaN,5,286
1,1851175N26270,1851,5,NOT_NAMED,1851-06-26 00:00:00,TS,28.1667,-96.8000,70.0,NaN,hurdat_atl,0,0.0,28.2000,-97.0000,HU,70.0,NaN,1.0,NaN,NaN,5,282
2,1851175N26270,1851,5,NOT_NAMED,1851-06-26 03:00:00,TS,28.2265,-97.0793,NaN,NaN,NaN,0,0.0,28.2398,-97.2727,HU,65.0,NaN,1.0,NaN,NaN,5,284
3,1851175N26270,1851,5,NOT_NAMED,1851-06-26 06:00:00,TS,28.3000,-97.4000,60.0,NaN,hurdat_atl,0,0.0,28.3000,-97.6000,TS,60.0,NaN,0.0,NaN,NaN,6,283
4,1851175N26270,1851,5,NOT_NAMED,1851-06-26 09:00:00,TS,28.3617,-97.7476,NaN,NaN,NaN,0,0.0,28.3425,-97.9501,TS,60.0,NaN,0.0,NaN,NaN,6,282

In [21]:
df.isnull().sum()

sid                0
season             0
number             0
name               0
iso_time           0
nature             0
lat                0
lon                0
wmo_wind        7575
wmo_pres       11414
wmo_agency      7560
dist2land          0
landfall           0
usa_lat         1296
usa_lon         1296
usa_status      1253
usa_wind        1368
usa_pres        8941
usa_sshs         137
usa_eye        14209
usa_seahgt     13764
storm_speed        0
storm_dir          0
dtype: int64

In [22]:
df.shape

(14214, 23)

In [23]:
df['usa_status'].unique()

array(['HU', 'TS', nan, 'EX', 'TD', 'LO', 'DB', 'SD', 'SS', 'ET', 'WV'],
      dtype=object)

In [24]:
storm_status = {
    "DB" : "disturbance",
    "TD" : "tropical depression",
    "TS" : "tropical storm",
    "TY" : "typhoon",
    "ST" : "super typhoon",
    "TC" : "tropical cyclone",
    "HU" : "hurricane",
    "HR" : "hurricane",
    "SD" : "subtropical depression",
    "SS" : "subtropical storm",
    "EX" : "extratropical systems",
    "PT" : "post tropical",
    "IN" : "inland",
    "DS" : "dissipating",
    "LO" : "low",
    "WV" : "tropical wave",
    "ET" : "extrapolated",
    "MD" : "monsoon depression"
}
new_values = {
    "usa_status" : storm_status
}
def rename_values(df, dictionary):
    for k,v in dictionary.items():
        df[k] = df[k].map(v)

In [25]:
df.head()

,sid,season,number,name,iso_time,nature,lat,lon,wmo_wind,wmo_pres,wmo_agency,dist2land,landfall,usa_lat,usa_lon,usa_status,usa_wind,usa_pres,usa_sshs,usa_eye,usa_seahgt,storm_speed,storm_dir
0,1851175N26270,1851,5,NOT_NAMED,1851-06-25 21:00:00,TS,28.1333,-96.5667,80.0,NaN,hurdat_atl,22,0.0,28.2000,-96.8000,HU,80.0,NaN,1.0,NaN,NaN,5,286
1,1851175N26270,1851,5,NOT_NAMED,1851-06-26 00:00:00,TS,28.1667,-96.8000,70.0,NaN,hurdat_atl,0,0.0,28.2000,-97.0000,HU,70.0,NaN,1.0,NaN,NaN,5,282
2,1851175N26270,1851,5,NOT_NAMED,1851-06-26 03:00:00,TS,28.2265,-97.0793,NaN,NaN,NaN,0,0.0,28.2398,-97.2727,HU,65.0,NaN,1.0,NaN,NaN,5,284
3,1851175N26270,1851,5,NOT_NAMED,1851-06-26 06:00:00,TS,28.3000,-97.4000,60.0,NaN,hurdat_atl,0,0.0,28.3000,-97.6000,TS,60.0,NaN,0.0,NaN,NaN,6,283
4,1851175N26270,1851,5,NOT_NAMED,1851-06-26 09:00:00,TS,28.3617,-97.7476,NaN,NaN,NaN,0,0.0,28.3425,-97.9501,TS,60.0,NaN,0.0,NaN,NaN,6,282

In [26]:
df['landfall'] = df['landfall'].map(float)
df["lon"] = df["lon"].map(float)
df["lat"] = df["lat"].map(float)
df = df[df['landfall'] == 0]
df = df[df['lon'] < -35]
df = df[df["lat"] < 60]
df = df[df["lat"] > 23.5]

In [27]:
df.shape

(9933, 23)

In [28]:
df.isnull().sum()

sid               0
season            0
number            0
name              0
iso_time          0
nature            0
lat               0
lon               0
wmo_wind       5153
wmo_pres       7872
wmo_agency     5150
dist2land         0
landfall          0
usa_lat         694
usa_lon         694
usa_status      649
usa_wind        731
usa_pres       6062
usa_sshs        113
usa_eye        9932
usa_seahgt     9672
storm_speed       0
storm_dir         0
dtype: int64

In [29]:
df = df.drop(columns = ['usa_eye', 'number', 'usa_seahgt'] )

In [30]:
#new_df[new_df['name']=='SANDY']

In [31]:
df.shape

(9933, 20)

In [32]:
def state_column(df1, df2, col1, new_column = None):
    # empty list
    location_dict = {}
    # iterate through hurricane points
    for point_index, point in df1["geometry"].iteritems():
        # iterate through our location dataframe
        for index, location in df2["geometry"].iteritems():
            if point.within(location) == True:
                location_dict[point_index] = df2[col1][index]
#     df1[new_column] = location_list       
    return location_dict